@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&family=Playfair+Display:wght@400;700&display=swap');

@layer components {
    body {
        @apply font-mon bg-bgr text-base font-medium  relative text-primary-text;
    }
    .app {
        @apply max-w-[1440px] mx-auto overflow-hidden relative -z-10;
    }
    h2 {
        @apply font-plf;
    }
    .container {
        @apply px-[150px] mt-[120px] ;
    }
    .text_ACenter {
        @apply absolute w-full text-center;
    }
    .hover-btn-primary {
        @apply hover:transition hover:bg-white hover:text-btn hover:outline hover:outline-btn hover:outline-2;
    }
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.text-trumcate2 {
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    word-break: break-word;
}